<% visit=Visit.where(group_id: params[:id]) %>
<div class="row">
<% visit.each do |v| %>
<% destination=Touristsite.where(id: v.touristsite_id) %>
<% for des in destination %>
<div class="col-sm-6">
<div class="thumbnail">
<h2 class="text-center"> <%= des.name %> in <%= des.city %>, <%=des.country %> </h2>
<p class="text-center"> <%= des.Summary %> </p>
<p class="text-center"> <%= image_tag des.image, {width: 500} %> </p>
</div>
</div>
<% end %>
<% end %>
</div>
